$desktop: 1200px; // xl
$laptop: 992px; // lg
$tablet: 768px; // md
$phone: 576px; // sm

#carousel {
    .carousel-inner img {
        width: 100%;
        height: auto;
    }
    
    .carousel-caption {
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.75);
        color: #ffffff;
    }

    @media screen and (max-width:$phone) {
        .carousel-caption p {
            visibility: hidden;
            display: none;
        }
        
        .carousel-caption h1 {
            font-size: medium;
        }
        
        .carousel-caption {
            max-height: 60px;
        }
    }
}

#advantages {
    hr.rounded {
        border-top: 1px solid #bbb;
        border-radius: 1px;
    }

    .fa {
        padding: 13px;
        font-size: 24px;
        width: 50px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 5px;
        border-radius: 50%;
        background: #141a16;
        color: white;
    }

    .advantage-title {    
        font-size: 18px;
    }

    .advantage-text {    
        font-size: 16px;
        color: grey;
    }
}

#suggestedtours {
    background: #ffffff;

    hr.rounded {
        border-top: 1px solid #bbb;
        border-radius: 1px;
    }

    .vl {
        border-left: 4px solid #141a16;
        height: 30px;        
    }

    .btn-more {
        border-radius: 20px;
        min-width: 150px;
        font-size: 18px;
    }

    .card-img-top {
        opacity: 1;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

    .card-img-top:hover {
        opacity: 0.5;
    }

    .link-more {
        color: #141a16;
        text-decoration: none;
    }

    .link-more:hover {
        color: #141a16;
        text-decoration: none;
    }

    .link-more:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #141a16;
        transition: width .3s;
    }

    .link-more:hover::after {
        width: 100%;
        color: #141a16;
    }

    .fa {
        padding: 3px;
        font-size: 18px;
        width: 24px;
        height: 24px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        color: #141a16;
    }

    @media screen and (max-width:$phone) {
        .vl {
            border-left: 4px solid #141a16;
            height: 80px;        
        }
    }
}

#events {
    hr.rounded {
        border-top: 1px solid #bbb;
        border-radius: 1px;
    }

    .vl {
        border-left: 4px solid #141a16;
        height: 30px;        
    }

    .btn-more {
        border-radius: 20px;
        min-width: 150px;
        font-size: 18px;
    }

    .event {
        position: relative;
        transition: transform .2s;
    }

    .event:hover {
        transform: scale(1.1);
    }

    .event .content {
        position: absolute; 
        left: 50%;
        transform: translate(-50%, 0%);
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.75); 
        color: #f1f1f1;
        width: 250px;    
        height: 40px;
    }

    @media screen and (max-width:$phone) {
        .vl {
            border-left: 4px solid #141a16;
            height: 80px;        
        }
    }
}

#blog {
    .post {
        img {
            max-width: 80%;
            height: auto;
        }

        .text-block {           
            background: #ffffff;
            color: #000000;     
            position: relative;
            margin: -20% 20% 10% 20%;
        }

        .btn-more {
            border-radius: 20px;
            min-width: 150px;
            font-size: 18px;
        }

        @media screen and (max-width:$phone) {
            .text-block {
                margin: 0% 10% 10% 10%;
            }
        }
    }
}

// .blog {
//     position: relative;
// }

// .blog img {
//     max-width: 500px;
//     height: auto;
// }

// .blog img:hover  {
//     opacity: 0.5;
// }

// .blog .text-block {
//     transform: translate(17%, -50%);
//     background-color: #ffffff;
//     color: #000000;
//     width: 400px;
    
// }

// @media screen and (max-width: 448px) {
//     .carousel-caption p {
//         visibility: hidden;
//         display: none;
//     }

//     .carousel-caption h1 {
//         font-size: medium;
//     }

//     .carousel-caption {
//         max-height: 60px;
//     }

//     .blog img {
//         max-width: 300px;
//         height: auto;
//     }

//     .blog .text-block {
//         max-width: 300px;
//         transform: translate(8%, 0%);
//         margin-bottom: 30px;
//     }
// }

// @media screen and (max-width: 768px) {
//     .vl {
//         height: 60px;        
//     }
// }