{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
  Tours
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/tours.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 style="font-weight: bold;">MONGOLIA TOURS</h1>
      </div>
      <div class="col-md-9">
        <p class="header-text">Mongolia Tours offers wide variety of adventure tours, vacation packages, festival tours and small group photography tours in Mongolia. View all Mongolia tours and book today!</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row p-3">
    <div class="col-md-9">
      {% for tour in tours %}
      <div class="d-flex flex-sm-row flex-column border tour">
        <div class="flex-fill p-2">
          <img class="tour-image rounded" src="{% static 'img\events\wolf_howling_at_the_moon-wallpaper-1024x1024.jpg' %}" alt="Tour image cap" style="max-width: 300px; height: auto;">
        </div>
        <div class="flex-fill p-4">
          <strong class="tour-title">{{ tour.name }}</strong>
          <p class="tour-description">{{ tour.description }}</p>
        </div>
        <div class="flex-fill p-4 border-left price text-center">
          <h3>Rating</h3>
          <div class="rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>          
          <h3 class="mt-3">{{ tour.currency }}{{ tour.price }}</h3>
          <p class="text-muted">per person</p>
          <a href="{% url 'tour' tour.id %}" class="btn btn-outline-dark btn-more" role="button">View tour</a>
        </div>
      </div>      
      {% endfor %}
      {% include 'pagination.html' %}
    </div>
    <div class="col-md-3 rounded p-3 text-center search">
      <h4>Search tours</h4>
      <span>Find your dream tour today!</span>
      <form action="#" class="m-3">
        <select name="tour-types" class="custom-select mb-3">          
          <option selected>Tours Type</option>
          {% for type in types %}
          <option value="{{ type.name }}">{{ type.name }}</option>
          {% endfor %}
        </select>
        <select name="tour-region" class="custom-select mb-3">
          <option selected>Region</option>
          <option value="central">Central Mongolia</option>
          <option value="eastern">Eastern Mongolia</option>
          <option value="northern">Northern Mongolia</option>
          <option value="southern">Southern Mongolia</option>
          <option value="western">Western Mongolia</option>
        </select>
        <select name="tour-duration" class="custom-select mb-3">
          <option selected>Duration</option>
          <option value="1week">1 week</option>
          <option value="2weeks">2 weeks</option>
          <option value="15days">More than 15 days</option>
          <option value="short">Short tours</option>
        </select>
        <select name="tour-price" class="custom-select mb-3">
          <option selected>Price</option>
          <option value="3">$300 - $500</option>
          <option value="5">$500 - $700</option>
          <option value="7">$700 - $900</option>
          <option value="9">$900 - $1100</option>
          <option value="11">$1100 - $1300</option>
          <option value="13">More than $1300</option>
        </select>
        <button type="submit" class="btn btn-dark btn-block">Find tours</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}