{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
Tours
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/tour.css' %}">
{% endblock %}

{% block content %}
<div class="tourimage" id="tourimage">
    <img src="{{ tour.image.first.image.url }}">
    <div class="name">
        <span>{{ tour.name }}</span>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'tours' %}">Tours</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tour.name }}</li>
        </ol>
    </nav>
    <ul class="nav nav-tabs" style="max-width: 400px;" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#details">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#itinerary">Itinerary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#photos">Photos</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-lg-9">
            <div class="shadow rounded border" id="info">
                <div class="tab-content">
                    <div id="details" class="container tab-pane active">
                        <div class="row">
                            <div class="col-md-3 p-3 text-center border detail">
                                <i class="fa fa-users"></i>
                                <h4>5/8</h4>
                                <p class="text-muted">People</p>
                            </div>
                            <div class="col-md-3 p-3 text-center border detail">
                                <i class="fa fa-calendar"></i>
                                <h4>Jun-Sep</h4>
                                <p class="text-muted">Dates</p>
                            </div>
                            <div class="col-md-3 p-3 text-center border detail">
                                <i class="fa fa-clock-o"></i>
                                <h4>{{ tour.duration }} days</h4>
                                <p class="text-muted">Duration</p>
                            </div>
                            <div class="col-md-3 p-3 text-center border detail">
                                <i class="fa fa-credit-card"></i>
                                <h4>{{ tour.currency }}{{ tour.price.last.price_per }}</h4>
                                <p class="text-muted">Price</p>
                            </div>
                        </div>
                        <div class="m-3">
                            <button class="btn btn-dark m-1">Adventure</button>
                            <button class="btn btn-dark m-1">Outdoor</button>
                            <button class="btn btn-dark m-1">Hiking</button>
                            <button class="btn btn-dark m-1">Camel riding</button>
                            <h5 class="mt-3">Description</h5>
                            <p>{{ tour.description }}</p>
                            <hr>
                            <h5>Duration</h5>
                            <p>{{ tour.duration }} days</p>
                            <hr>                    
                            <h5>Included</h5>
                            <p>{{ tour.includes }}</p>
                            <hr>
                            <h5>Not included</h5>
                            <p>{{ tour.notincludes }}</p>
                            <hr>
                            <h5>Price</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Number of people</th>
                                        <th>Price per person</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for price in tour.price.all %}
                                    <tr>
                                        <td>{{ price.people }} {% if price.people == 1 %} person {% else %} people {% endif %}</td>
                                        <td>{{ tour.currency }}{{ price.price_per }}</td>
                                        <td>{{ tour.currency }}{{ price.price_total }}</td>
                                    </tr>
                                    {% endfor %}   
                                </tbody>
                            </table>      
                        </div>                               
                    </div>
                    <div id="itinerary" class="container tab-pane fade p-3">
                        {% for iti in tour.itinerary.all %}
                        <h5>Day {{ iti.day }}</h5>
                        <strong>{{ iti.name_en }}</strong>
                        <p>{{ iti.description }}</p>
                        {% endfor %}                    
                    </div>
                    <div id="photos" class="container tab-pane fade p-3">
                        <h3>Photos</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start text-center" id="tourlinks">
                    <div class="border p-3" style="width: 20%;">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="border p-3" style="width: 20%;">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="border p-3" style="width: 20%;">
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                    <div class="border p-3" style="width: 20%;">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                    <div class="border p-3" style="width: 20%;">
                        <a href="#"><i class="fa fa-google"></i></a>
                    </div>
                </div>
            </div>
            <div class="shadow rounded border mt-5 mb-5 p-3" id="review">
                <h4 class="text-center">TOUR REVIEWS</h4>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <div class="ml-3">
                            <span class="fa fa-star checked" style="font-size: 22px;"></span>
                            <span class="fa fa-star checked" style="font-size: 22px;"></span>
                            <span class="fa fa-star checked" style="font-size: 22px;"></span>
                            <span class="fa fa-star checked" style="font-size: 22px;"></span>
                            <span class="fa fa-star checked" style="font-size: 22px;"></span>
                            <strong class="ml-2">5.0 based on 2 reviews</strong>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <strong>{{ tour.views }} views</strong> 
                        <strong class="ml-3">{{ tour.likes }} likes</strong> 
                    </div>
                </div>                          
                <hr>
                {% for review in tourreviews %}
                <div class="media p-3">
                    <img src="https://i.ya-webdesign.com/images/avatar-icon-png-6.png" alt="avatar" class="mr-3 rounded-circle" style="width:80px;">
                    <div class="media-body">
                        <div class="d-flex justify-content-between">
                            <div class="name">
                                <h4>{{ review.username }}</h4>
                            </div>                        
                            <div class="post-date"> 
                                <small><i>{{ review.updated_at }}</i></small>
                            </div>
                        </div>  
                        <div>
                            <span class="fa fa-star {% if review.rating > 0 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if review.rating > 1 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if review.rating > 2 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if review.rating > 3 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if review.rating > 4 %} checked {% endif %}"></span>
                        </div>
                        <p>{{ review.comment }}</p>      
                    </div>
                </div>
                <hr>
                {% endfor %}
                <div class="media p-3">
                    <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="John Doe" class="mr-3 rounded-circle" style="width:80px;">
                    <div class="media-body">
                        <div class="d-flex justify-content-between">
                            <div class="name">
                                <h4>John Doe</h4>
                            </div>                        
                            <div class="post-date"> 
                                <small><i>February 20, 2020</i></small>
                            </div>
                        </div>  
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>      
                    </div>
                </div>
                <hr>
                <div class="media p-3">
                    <img src="https://www.w3schools.com/bootstrap4/img_avatar4.png" alt="John Dowe" class="mr-3 rounded-circle" style="width:80px;">
                    <div class="media-body">
                        <div class="d-flex justify-content-between">
                            <div class="name">
                                <h4>Jane Dowe</h4>
                            </div>                            
                            <div class="post-date">
                                <small><i>February 16, 2020</i></small>
                            </div>
                        </div>          
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>            
                        <p>Duis rutrum quis lacus eu mattis. Suspendisse volutpat augue eu ante elementum, id tincidunt mi imperdiet. Nullam id risus tempus.</p>      
                    </div>
                </div>
                <hr>    
                <div id="user-review" class="p-3">
                    <h5>Leave a Review</h5>       
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <div class="form-row mt-3">
                            <div class="form-group col-md-4 rating">         
                                <strong>Rate:</strong>                            
                                <input class="form-check-input" type="radio" id="star5" name="rating" value="5" />
                                <label class="form-check-label fa fa-star" for="star5" title="Awesome - 5 star"></label>      
                                <input class="form-check-input" type="radio" id="star4" name="rating" value="4" />
                                <label class="form-check-label fa fa-star" for="star4" title="Pretty good - 4 star"></label>                                              
                                <input class="form-check-input" type="radio" id="star3" name="rating" value="3" />
                                <label class="form-check-label fa fa-star" for="star3" title="Normal - 3 star"></label> 
                                <input class="form-check-input" type="radio" id="star2" name="rating" value="2" />
                                <label class="form-check-label fa fa-star" for="star2" title="Kinda bad - 2 star"></label> 
                                <input class="form-check-input" type="radio" id="star1" name="rating" value="1" />
                                <label class="form-check-label fa fa-star" for="star1" title="Very bad - 1 star"></label>                                          
                            </div>
                            <div class="form-group col-md-8 text-left text-md-right like">
                                <strong class="mr-3">Like:</strong>
                                <input class="form-check-input" type="checkbox" id="like" name="like"/>
                                <label class="form-check-label fa fa-thumbs-up" for="like" title="Like the tour"></label> 
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" rows="5" id="yourcomment" name="comment" placeholder="Your comment"></textarea>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" id="name" name="name" value="{{ user.username }}" hidden>
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" class="form-control" id="email" name="email"  value="{{ user.email }}" hidden>
                        </div>
                        {% else %}
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                        {% endif %}                        
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="shadow rounded border" id="booking">
                <div class="content p-3 text-center">
                    <h4>Book the tour</h4>
                    <span>Fill the form and book the tour!</span>          
                    <form action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" id="name">
                        </div>
                        <div class="form-group">                    
                            <input type="email" class="form-control" placeholder="Email address" id="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone number" id="phone">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Date" id="date">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Number of people" id="number">
                        </div>
                        <button type="submit" class="btn btn-dark">Book now</button>
                    </form>  
                </div>
            </div>
            <div class="mt-3" id="suggestions">
                <div class="shadow rounded border p-3 text-center">
                    <span>You might interest the following tours:</span>
                </div>
                {% for tour in suggested_tours %}
                <div class="rounded shadow suggestedtour">
                    <a href="{% url 'tour' tour.pk %}"><img src="{{ tour.image.first.image.url }}" alt="Card image cap"></a>
                    <div class="title">
                        <h4>{{ tour.name }}</h4>                      
                    </div>
                    <div class="price">
                        <p>
                            <del>
                                {{ tour.currency }}399
                            </del> 
                            <strong>{{ tour.currency }}{{ tour.price.last.price_per }}</strong>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}